
<div class="container">

<p id="notice"><%= notice %></p>

<h1 class="text-ctr">About Us</h1>
  <div class="row">
    <div class="md-col-8 xs-col-10 col-centered">
    	
			<p>Welcome to Aruba Kiteboarding! We hope that you find everything for all your Kiteboarding needs at the best prices. No one sells for less!</p>
		</div>
  </div>
</div>
