
	<table align="center" width="600" bgcolor="#d5e4ed" cellpadding="0" cellspacing="0" border="0">
	  <tbody>
	  	<tr>
	      <td align="left" padding-left="20px">
	      	<p>This message is from the Aruba Kiteboarding Contact Form. Please respond at your earliest convenience.</p><br>
	      </td>
	    </tr>
			<tr>
	      <td align="left" padding-left="20px">
	      	<p><strong>From: </strong><%= @name %></p><br>
	      </td>
	    </tr>
	    <tr>
	      <td align="left" padding-left="20px">
	      	<p><strong>Email: </strong><%= @email %></p><br>
	      </td>
	    </tr>

	    <tr>
	      <td align="center">
	      	<p>---------------------------------------------------------------------------------</p>
	      </td>
	    </tr>
	    <tr>
	      <td align="left" padding-left="20px">
	      	<p>Message: </p><br>
	      	<p><%= @message %></p>
	      </td>
	    </tr>
	  </tbody>
	</table>

