<div class="container">

<p>Hey, <%= @email %></p>  
<p> Thank you for ordering a <%= @product.name %>.
<p>We hope you enjoy your purchase!</p>  
<br>
<p>Sincerely,</p>  
<p> Us @ Arubakiteboarding :-)</p>

</p>