
<div class="container">
	<h1 class="text-ctr">New User</h1>
	<div class="row">
		<div class="md-col-8 xs-col-10 col-centered">
		<%= render 'form' %>
		</div>
	<%= link_to 'Back', users_path %>
	</div>
</div>