
<div class="container product">

<tr class="txt-ctr">
  <td><%= @user_id %></td>
  <td><%= @product_id %></td>
  <td><%= @total %></td>
  <% require 'pry'; binding.pry %>
  <td><%= link_to 'Show', order %></td>
</tr>

</div>