<h3>Your order details:</h3>

  <p>
    Product name: <%= @order.product.name %>
  </p>
  <p>
    Description: <%= @order.product.description %>
  </p>
  <p>
    Colour: <%= @order.product.colour %>
  </p>
  