// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 4rem;
	font-family: Serif;
}

h5 {
	text-align: center;	
}

p {
	font-size: 2rem;
	font-family: san-serif;
}

ctr-table {
	margin: 0 auto;
	padding: 10px;	
}


footer {
	background-color: #FFFFFF;
}

.col-centered {
	display: block;
	float: none;
	margin: 0 auto;
}

.text-ctr {
	text-align: center;
}

.container .product {
	width: 960px;
	height: 100%;
}

.comments {
	width: 80%;
	margin: 0 auto;
}

.page {
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
}
