// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 4rem;
	font-family: Serif;
	color: purple;
}

h5 {
	text-align: center;	
}

p {
	font-size: 2rem;
	font-family: san-serif;
}

ctr-table {
	margin: 0 auto;
	padding: 10px;	
}

table {
	background-color: #E6FFFF;
}

footer {
	background-color: #FFFFFF;
}

.col-centered {
	display: block;
	float: none;
	margin: 0 auto;
}

.text-ctr {
	text-align: center;
}