// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 4rem;
	font-family: Serif;
}

p {
	font-size: 2rem;
	font-family: san-serif;
}

img {
	border: 2px solid black;
}

.pad-class {
	margin: 10px 10px;
	padding: 0 20px;
}

/********************************/
/*           Navbar          */
/********************************/
nav {
	background-color: white !important; 
}

.navbar-right {
	margin-right: 20px; 
	padding-right: 20px;
	color: black;
}

.navbar-left {
	margin-left: 20px;
	padding-left: 20px;
	color: black;
}



/********************************/
/*           Jumbotron          */
/********************************/
.jumbotron {
	background: url("kbjumbotron.jpg") no-repeat center;
	background-size: 100%;
	height: 233px;
}

/********************************/
/*            Carousel          */
/********************************/
.carousel-inner>.item>img {
    margin: auto auto;
    vertical-align: middle;
 }

.fade-carousel {
    position: relative;
    height: 500px;
} 

.fade-carousel .carousel-inner .item {
    height: 500px;
}

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control {
  visibility: visible;
}

.carousel-inner .item .carousel-caption {
	color: black !important;
}
