// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 4rem;
	font-family: Serif;
}

p {
	font-size: 2rem;
	font-family: san-serif;
}

.pad-class {
	margin: 10px 10px;
	padding: 0 20px;
}

/********************************/
/*           Navbar          */
/********************************/
nav {
	background-color: white !important; 
}

.navbar-right {
	margin-right: 20px; 
	padding-right: 20px;
	color: black;
}

.navbar-left {
	margin-left: 20px;
	padding-left: 20px;
	color: black;
}

ul.nav.navbar-nav li form label {
	margin-top: 15px;
}
ul.nav.navbar-nav.navbar-left li {
	font-size: 2rem;
}

/********************************/
/*           Jumbotron          */
/********************************/
.jumbotron {
	background: url("kbjumbotron.jpg") no-repeat center;
	background-size: 100%;
	height: 100%;
}

/********************************/
/*            Carousel          */
/********************************/
.carousel-inner>.item>img {
    margin: auto auto;
    vertical-align: middle;
 }

.fade-carousel {
    position: relative;
    height: 500px;
} 

.fade-carousel .carousel-inner .item {
    height: 500px;
}

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #48E5E5;
    border-color: #48E5E5;
    opacity: .7;
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control {
  visibility: hidden;
}

.carousel-inner .item .carousel-caption {
	color: black !important;
}


/********************************/
/*           Contact            */
/********************************/

.container.contact {
	width: 640px;
	margin: 0 auto;
	padding-bottom: 50px;
}


/********************************/
/*         Thank You            */
/********************************/

.thkyou {
	width: 100%;
	margin: 0 auto;
	padding-left: 30%;
	padding-top: 5%;
}

#ty-message {
	border: 3px solid black;
	padding: 20px;
	margin: 30px;
}

ctr-table {
	margin: 0 auto;
	padding: 10px;	
}


/********************************/
/*         USER PAGES           */
/********************************/


form.new_user {
	width: 640px;
	margin: 0 auto;
	padding-bottom: 50px;

}

