// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	color: black;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
}


.ctr-table {
	margin: 0 auto;
	padding: 10px;	
}

.col-centered {
	display: block;
	float: none;
	margin: 0 auto;
}


.text-ctr {
	text-align: center;
}